<% content_for(:title) { "All Subsidiaries" } %> 

<% content_for :left_sidebar do %>
  <%= render "/admin/shared/left_sidebar" %>
<% end %>

<div class="h-screen flex flex-col">
  <header class="px-4 border-b border-neutral-200">
    <div class="flex items-center justify-between rounded-lg p-4">
      <div class="">
        <h1 class="text-2xl font-bold text-secondary">
          Subsidiaries
        </h1>
        <p class="mt-1 text-sm text-gray-600">
          Manage subsidiary and user assignment
        </p>
      </div>

      <div class="flex gap-8 items-center">
        <div class="font-semibold text-lg">
          <%= pluralize(@teams.size, 'Subsidiary') %>
        </div>
        <div class="flex gap-8 items-center">
          <div data-controller="dialog" data-dialog-modal-value="true" data-action="keydown.esc->dialog#close:stop">
            <button type="button", data-action="dialog#open",
              class="btn border-none bg-primary-content focus:bg-primary rounded-lg text-white flex items-center gap-2">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" /> </svg>
              <span>Create User</span>
            </button>

            <dialog class="m-auto dialog-panel" style="--panel-size: 48ch" data-dialog-target="dialog" role="dialog" aria-modal="true">
              <%= turbo_frame_tag "create-new-team", src: new_team_path, loading:"lazy" %>
            </dialog>
          </div>
      </div>
    </div>
  </header>

  <div class="flex-1 min-h-0 overflow-y-auto">
    <div class="m-6">
      <section id="teams_list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <%= render @teams %>
      </section>
    </div>
  </div>
</div>
