@import "tailwindcss";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
  themes: light, business;
}

@plugin "./daisyui-theme.mjs" {
  name: "light";
  default: true;
  --color-primary: oklch(0.4634 0.190175 29.2339);
  --color-primary-content: oklch(0.5549 0.2185 29.79);
  --color-secondary: oklch(0.252 0 0);
  --color-secondary-content: oklch(0.7476 0 0);
}

@plugin "./daisyui-theme.mjs" {
  name: "business";
  --color-primary: oklch(0.4634 0.190175 29.2339);
  --color-primary-content: oklch(0.5549 0.2185 29.79);
  --color-secondary: oklch(0.252 0 0);
  --color-secondary-content: oklch(0.7476 0 0);
}