@keyframes appear-then-fade {

  0%,
  100% {
    opacity: 0
  }

  5%,
  60% {
    opacity: 1
  }
}

@keyframes sadPulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes sadShake {

  0%,
  100% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(6deg);
  }
}

.shake {
  animation: shake 400ms both;
}