.flash {
  display: flex;
  border: 1px solid var(--color-base-300);
  background-color: var(--color-base-100);
  inset-block-start: var(--block-space);
  inset-inline-start: 50%;
  justify-content: center;
  position: fixed;
  transform: translate(-50%);
  z-index: var(--z-flash);
  animation: appear-then-fade 5s 300ms both;
}