  .panel {
    inline-size: var(--panel-size, 60ch);
    max-inline-size: 100%;
    text-align: center;
    border-color: oklch(0.93 0 0);
    border-radius: var(--radius-2xl);
    border-style: var(--tw-border-style);
    border-width: 2px;


    @media (min-width: 640px) {
      --panel-size: 100%;
    }
  }

  .panel--wide {
    --panel-size: 60ch;
  }

  .panel--centered {
    --panel-border-size: 0;
    --panel-size: 100%;

    @media (min-width: 640px) {
      --panel-size: 48ch;
    }

  }

  .panel input:focus-visible,
  .panel textarea:focus-visible,
  .panel button:focus-visible {
    outline: 1px solid var(--color-secondary);
  }