/* Tom-select is used for this */
/* select[multiple]>option {
  margin-bottom: 1px;
  height: 28px;
  padding: 2px;
  padding-inline: 8px;
} */

/* 
  Firefox quirk: Fixes vertical alignment in only.
*/
@-moz-document url-prefix() {
  select {
    display: inline-block !important;
    vertical-align: middle;
  }
}

select[disabled] {
  background-color: var(--color-base-300)
}