/* Firefox quirk: Fixes vertical alignment */
@-moz-document url-prefix() {
  select {
    display: inline-block !important;
    vertical-align: middle;
  }
}

select[disabled] {
  border: 1px solid color-mix(in srgb, var(--color-base-content) 15%, transparent);
}