/* Firefox quirk: Fixes vertical alignment */
@-moz-document url-prefix() {
  select {
    display: inline-block !important;
    vertical-align: middle;
  }
}

select[disabled] {
  background-color: var(--color-base-300)
}