<% content_for(:title) { "Edit User" } %>

<div class="h-screen flex">
  <div class="content-center mx-auto">
    <div class="w-full md:w-160 lg:w-160 rounded-lg border-2 border-secondary/10">
    <%= turbo_frame_tag 'edit-user' do %>
      <h1 class="px-8 py-6 pb-3 text-xl font-semibold">Update User </h1>
      <%= render "form" %>
    <% end %>
  </div>
</div>